*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
background-color:#1A0B2E;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
nav{
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}
nav ul{
  display: flex;
  gap: 32px;
  margin-top: 37px;
}
nav ul li{
  list-style-type: none;
}
nav li a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;

}
nav h2{
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700px;
  margin-top:30px;
}
.w{
  background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
  background-clip: text;
  color: transparent;
}
.p-btn{
background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
color:#FFFFFF;
padding: 12px 16px 12px 16px;
display:flex;
gap:4px;
border-radius: 10000px;
font-size: 16px;
font-weight: 600;
line-height: 19px;
margin-top: 24px;

}
.fa-solid fa-arrow-right{
background-color: #f800c28a;
margin: 12px 16px 12px 4px;
}
#banner{
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.image{
  margin-top: 125px;
  transform: translateY(130px);
}
.imgs-2{
  transform: translateY(-270px);
}
.banner-btn{
  transform: translateY(-520px) translateX(120px);
  border-radius: 1000px;
  background: #00FF88;
  color: #1A0B2E;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 8px 16px;


}
.b-heading{
  margin-top: 40px;
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 800;
  line-height: 73px;
  margin-bottom: 8px;
}
.banner-container p{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 24px;
}
.s-btn{
  width: 356px;
 /* border: 1px solid red;*/
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 0 auto;
}
.btn-1{
  width: 201px;
  background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
  border-radius: 10000px;
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 0 12px 20px;
}
.btn-2{
  width: 147px;
  background-color: #1A0B2E;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #00FF88;
  border: 1px solid #00FF88;
  border-radius: 10000px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 0 12px 20px;
}
 #About{
  max-width:1600px;
  margin: 0 auto;
 }
 .about-container{
  max-width: 1200px;
  margin: 151px 200px 0 200px;
  /*border: 1px solid white;*/
 }
 .a-heading{
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  margin-bottom: 16px;
 }
 .about-container p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.b{
   border: 1px solid #FFFFFF;
   opacity: 0.1;
   max-width: 1200px;
   margin: 80px 0 81px 0;
   text-align: center;
}
.about-card{
  max-width: 1200px;
  margin: 0 200px 120px 200px;
 /* border: 1px solid white;*/
  display: flex;
  justify-content: space-between;
 
}
.card{
  width: 240px;
 /* border: 1px solid seagreen;*/
  text-align: center;
}
.card p{
  color: #00FF88;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  margin-bottom: 17px;
}
.card h3{
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

}
#choose{
  max-width: 1800px;
  margin: 0 auto;
  background-color: #230E3D;
 /* border: 1px solid white;*/
  padding: 120px 0;
}
.c-heading{ 
  margin-bottom: 40px;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
}
.c-card-container{
  max-width: 1200px;
  margin: 0 auto;
  /*border: 1px solid seagreen;*/
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 30px;
  }
.c-card{
  /*border: 1px solid white;*/
  text-align: left;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding-left: 40px;
}
#f-1{
  grid-row: span 2;
  padding-top: 107px;
}
#f-2{
  grid-column: span 2;
  padding-top: 40px;
}
#f-3{
  grid-column: span 2;
  padding-top: 40px;
}
#f-4{
  grid-column: span 2;
  padding-top: 40px;
}
#f-5{
  padding-top: 40px;
}
.c-card h4{
  
color: #FFFFFF;
font-size: 24px;
font-weight: 700;
line-height: 29px;
margin: 16px 0;
}
.c-card p{
color:#ffffff91;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.p-1{
  max-width: 300px;
}

.img-c{
  max-width: 60px;
  display: flex;
  font-size: 30px;
  background:linear-gradient(#F7E93F,#FB09B4,#9100F8);
  background-clip: text;
  color: transparent;
}
#feature{
  margin: 0 auto;
  max-width: 1600px;
}
.f-heading{
color:#FFFFFF;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: center;
margin: 120px 0 40px 0;
}
.feature-card-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  /*border: 1px solid white;*/
}
.feature-card{
  
  border-radius: 0px 0px 24px 24px;
  background-color: #250D44;
  margin-bottom: 120px;
}
.feature-card iframe{
  border-radius: 24px 24px 0px 0px;
}
.feature-card h3{
  color:#FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  padding-left: 24px;
  max-width: 332px;
  margin-top: 24px;
}
.feature-card p{
  color: #ffffff91;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 24px;
  max-width: 332px;
}
.f-c-i{
  display: flex;
  gap: 6px;
  margin-top: 14px;
}
.f-c-i img{
  padding: 0 0 26px 24px;
}
.f-c-i h4{
  color:#00FF88;
  font-size: 16px;
  font-weight: 600;
}
#host{
  max-width: 1600px;
  margin: 0 auto;
}
.host-heading{
  text-align: center;
  color:#FFFFFF;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700; 
  line-height: 58px;
  margin-bottom: 40px;
}
.host-container{
  max-width: 1200px;
  /*border: 1px solid white;*/
  margin: 0 auto;
  display: flex;
  gap: 24px;
  background-color: #35116566;
  border-radius: 48px;
  margin-bottom: 120px;
}
.host-img{
  padding: 40px 0 40px 40px;
}
.host-content{
  max-width: 896px;
  
}
.host-content h3{
  color:#FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin: 48.5px 0 16px 0;
}
.host-content p{
  color: #ffffff91;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.host-icon{
  max-width: 184px;
  /*border: 1px solid rgba(83, 60, 114, 1);*/
  display: flex;
  justify-content: space-between;
}
.host-icon img{
max-width: 40px;
border: 1px solid rgba(83, 60, 114, 1);
border-radius: 50%;
padding: 10px;
}
#footer{
  max-width: 1800px;
  /*border: 1px solid white ;*/
  margin: 0 auto;
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #35116566;
}
.footer-container{
  max-width: 1360px;
 /* border: 1px solid red;*/
  padding: 120px;
}

.footer-heading{
  color: #FFFFFF;
  font-size: 80px;
  font-weight: 800px;
  margin-bottom: 32px;
  /*text-align: center;*/
  margin-left: 600px;
}
.s{
  display: flex;
  gap:8px;
}
.s h3{
  font-size: 16px;
  font-weight: 500px;
  color: #ffffff91;
}
.footer-img{
  max-width: 570px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 32px 485px;
  /*border: 1px solid sienna;*/
  padding-left: 15px;
}
.footer-container p{
  max-width: 1360px;
  color: #ffffff91;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  /*border: 1px solid seagreen;*/
  padding-left: 415px;
}
